@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    overflow-y: hidden;
}

.full-height {
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    /* overflow: scroll; */
    flex-wrap: wrap;
}

.top {
    display: flex;
    height: 200px;
    text-align: center;
    background: #EEEEEE;
}

.main {
    display: flex;
    height: 300px;
    background: #fff;
}

section {
    justify-content: center;
    align-items: center;
    width: 100%;
    /* scroll-snap-align: start; */
}

.break {
    flex-basis: 100% !important;
    height: 0 !important;
}


/*
section:nth-of-type(1){
    background: #fff;
}
section:nth-of-type(2){
    background: #B676D3;
}
*/
section:nth-of-type(3) {
    background: #B676D3;
}

section:nth-of-type(4) {
    background: #b576d3c1;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.texto {
    display: flex;
    position: top !important;
    color: #333;
    font-weight: 700px;
    margin-top: 50px;
    line-height: 23px;
}

.leitor {
    padding-top: 20px;
    background: #EEEEEE;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    text-align: center !important;
}


/* --- Start progress bar --- */

.process-wrapper {
    margin: auto;
    width: 100%;
}

#progress-bar-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100px;
    margin-top: 65px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px
}

#progress-bar-container li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #B676D3;
    transition: all ease 0.3s;
}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;
    background: linear-gradient(to right, #B676D3 0%, #fff 80%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 7.6%;
    text-align: center;
    color: #B676D3;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #B676D3;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: #207893;
}

#progress-bar-container #line {
    width: 91%;
    margin: auto;
    background: #eee;
    height: 5px;
    position: absolute;
    left: 4%;
    top: 50px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #B676D3;
    background: linear-gradient(to right, #c2accc 0%, #b146e2 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: #B676D3;
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #eee;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

.group-img {
    justify-content: center !important;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    min-width: 20rem;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.width-94 {
    width: 94% !important;
}

.side-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.second-row-card-color {
    background-color: #5373e79c !important;
}

.background-purple {
    background: rgba(182, 118, 211, 0.8);
}

.body-margin {
    margin: 0px;
}

.header {
    height: 300px;
    width: 100%;
    background-color: #EEEEEE;
    padding: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-container {
    /* margin-top: 12px; */
    width: 60%;
    height: fit-content;
    float: left;
}

.title-text {
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #3E2E35;
}

.subtitle-text {
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-top: 15px;
    color: #3E2E35;
    font-size: 24px;
    line-height: 30px;
}

.header-svg {
    vertical-align: middle;
    margin: 0 0 0 0;
    float: right;
    height: 100%;
    width: auto;
}

.header1-svg {
    margin: 0 0 -0 0;
    padding: 30px 0 30px 0;
    float: right;
    height: 0%;
    width: auto;
    justify-content: space-around;
}

.subtext {
    padding: 40px 0 40px 0;
    /* margin: 0 50px; */
    margin: 0 auto 0 auto;
    width: 94%;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.title-cardbox-section {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #5373E7;
}

.cardbox-container {
    width: 100%;
    height: fit-content;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardbox {
    width: 350px;
    height: 560px;
    background-color: #5373E7;
    border-radius: 15px;
}

.img-cardbox {
    width: 100%;
    height: auto;
}

.cardbox-title {
    margin: 25px 0 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.cardbox-text {
    padding: 30px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.text-section-4-container {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

.text-section-4 {
    height: fit-content;
}

/* carrossel*/

.slide-container {
    display: flex;
    width: 300vh;
    height: 40vh;
    padding: 40px 0;
}

.slide-content {
    margin: 0px 100px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    background-color: #5373E7;
    border-radius: 25px 25px 0 25px;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #B676D3;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #5373E7;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}
/*slids tela 3*/
#slider {
    margin: 0;
    padding: 20px;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #B676D3;
 }
 #slides .slide_2 {
    background: #B676D3;
 }
 #slides .slide_3 {
    background: #B676D3;
 }
 #slides .slide_4 {
    background: #B676D3;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 /*t4*/
 
.containerCard{
    margin: 0 100px 0; 
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.containerCard .card1{
    position: relative;
    cursor: pointer;
    margin: 0 50px 0 0 ;
    
}

.containerCard .card1 .face{
    width: 400px;
    height: 220px;
    transition: 0.5s;
    border-radius: 5px;
    background: #FFF;
}

.containerCard .card1 .face.face1{
    position: relative;
    background: #2e2d2c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerCard .card1:hover .face.face1{
    background-color: #B676D3;
    transform: translateY(0);
}

.containerCard .card1 .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}

.containerCard .card1:hover .face.face1 .content{
    opacity: 1;
}

.containerCard .card1 .face.face1 .content img{
    max-width: 100px;
}

.containerCard .card1 .face.face1 .content h3{
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containerCard .card1 .face.face2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0, 0.8);
    transform: translateY(-100px);
}

.containerCard .card1:hover .face.face2{
    transform: translateY(0);
}

.containerCard .card1 .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.4s;
}

.containerCard .card1 .face.face2 .content a:hover{
    border-radius: 10px;
    background: #10536d;
    color: #fff;
}
